#background-bar {
	position: fixed;
	top: 0px;	
	height: 50vh;
	z-index: -100;
}

#background-bar {
	width: 100%;
}

.title {
	font-weight: var(--boldWeight);
	font-size: 2rem;
	text-transform: none;
}


.subtitle {
	text-transform: uppercase;
	color: var(--grey);
	font-size: 0.9rem;
}


.title, .subtitle {
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-decoration: none;
}

footer {
	padding: 0px 30px 20px;
}

footer .caption {
	text-align: center;
	font-size: 0.8rem;
	color: var(--grey);
}

/** Project Section**/
#projectList .project{
	margin-left: 0;
}

.image-box a {
	height: 100%;
}

.image-box .main-image {
	max-width: 110%;
	max-height: 115%;
	position: absolute;
	transition: 1s ease;
	opacity: 0;
}