/* BREAKPOINTS */
@media only screen and (min-width: 768px) {

	.container {
		max-width: 90%;
		padding-left: 35px;
		padding-right: 35px;
	}

	.headerText {
		text-align: left;
		padding-top: 15px;
		max-width: 100%;
	}

	.title {
		font-size: 2.75rem;
	}

	.subtitle {
		font-size: 1.2rem;
	}

	/* .main-image-box {
		height: 50vh;
	} */

	.main-title {
		padding: 5px 10px 5px 40px;
	}

	.main-footer {
		display: none;
	}
}


/* DEKSTOP LANDSCAPE*/
@media only screen and (min-width: 992px){
	header {
		padding: 50px 0px 25px;
	}

	.headerText {
		text-align: left;
	}

	.logo {
		height: 80px;
		min-width: 80px;
	}

	.main-title {
		text-align: left;
	}

	.main-title a {
		display: inline-block;
	}

	/* .main-image-box {
		height: 50vh;
	} */
}


/* HEIGHT BREAKPOINTS*/

@media screen and (min-height: 768px){
	.project {
		align-content: center;
		height: 70vh;
	}
}


@media screen and (min-height: 992px){
}