body {
	box-sizing: border-box;
	font-family: 'Barlow', 'Bahnschrift', 'Inter','Roboto',  sans-serif;
	cursor: var(--cursor-img);
	background-color: var(--defaultBg);
}

/* GENERIC SECTIONS */
.container {
	max-width: 95%;
	padding-bottom: 35px;
}

@media screen and (min-width: 992px) {	
	.container {
		max-width: 1200px;
		padding-top: 30px;
	}
}

.row {
	min-height: initial;
}

.bg-color {
	background-color: var(--bgColor);
	transition: .7s;
}

.divider {
	width: 50%;
	max-width: 250px;
	margin: 15px auto 15px;
	height: 5px;
	border-radius: 5px;
	box-shadow: var(--shadowEmbossed);
}

.spacer {
	height: 50px;
}

.logo {
	height: 50px;
	min-width: 50px;
	background-image: url("../images/Genice-Designs-Logo-Square.png");
	background-size: cover;
}

.desktop-only {
	display: none;
}

.mobile-only {
	display: block;
}

/* Colored Bar*/
.bg-color {
	background-color: var(--bgColor);
	transition: .7s;
}

/* ACCORDION */
.accordion-list {
	margin-bottom: 0.5em;
	text-align: center;
}

.accordion {
	width: 100%;
	padding: .75em 1em;
	margin-bottom: 1.5em;
	text-align: left;
	box-shadow: var(--shadowEngraved);
	border-radius: .75em;
	transition: box-shadow .3s ease;
}

.accordion:hover {
	box-shadow: var(--shadowRaised);
}

.accordion.active {
	font-weight: var(--boldWeight);
	box-shadow: var(--shadowEmbed);
}

.accordion-content {
	display: none;
}

.accordion-content.active:not(.row) {
	display: block !important;
	/* box-shadow: var(--shadowEmbed); */
	padding: 0px 20px;
}

.accordion-content.active {
	display: flex !important;
}

/* .accordion-content *:first-child {
	padding-top: 15px;
} */

/* HELPER CLASSES */
.show {
	display: block;
}
.hide {
	display: none;
}

/* TYPOGRAPHY */
h1,h2,h3,h4 {
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-transform: uppercase;
}

h2 {
	font-weight: var(--boldWeight);
	text-align: center;
	color: var(--priColor);
	margin-bottom: 15px;
	letter-spacing: 0.3rem;
}

h3 {
	font-size: 1.25em;
	margin-bottom: .5em;
	color: var(--priColor);
}

.accordion h3 {
	font-weight: inherit;
	margin-bottom: 0em;
}

h4, .h4 {
	text-transform: initial;
	font-size: 1.1em;
}

p {
	margin-bottom: .7em;
}

ul {
	list-style: none;
	padding-left: 0px;
}

a {
	word-spacing: 0.1rem;
	text-decoration: none;
}

a:hover {	
	cursor: var(--pointer-img);
	text-decoration: none;
	color: initial;
	font-weight: var(--boldWeight);
}

.small-text {
	font-size: small;
}

strong {
	font-weight: var(--boldWeight);
}

.caption {
	font-size: .75em;
	margin-bottom: 0px;
}


/* BUTTONS */
button {
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: var(--pointer-img);
}

.button {
	font-weight: var(--boldWeight);
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	color: black;
	display: inline-block;
	padding: .5em 1.5em;
	margin: 10px;
	border-radius: 20px;
	box-shadow: var(--shadowEngraved);
	transition: 0.3s ease-in;
}

.button:hover {
	text-decoration: none;
	color: initial;
	box-shadow: var(--shadowRaised) !important;
}

.button.long {
	width: 100%;
}

.button-center {
	text-align: center;
	margin: 1em 0;
}

.button-wrapper {
	display: flex;
	gap: 15px;
	margin: 1em 0;
}

/* Image */
img {
	max-width: 100%;
	display: block;
}

.logo {
	height: 50px;
	min-width: 50px;
	background-image: url("../images/Genice-Designs-Logo-Square.png");
	background-size: cover;
}


.image-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vw;
	position: relative;
	width: 100%;
	max-width: 500px;
	max-height: 500px;
	margin: 15px auto;
	box-shadow: var(--shadowEmbed);
}

.image-box.circle {
	border-radius: 50%;
}

.image-box.small {
	max-width: 300px;
	max-height: 300px;
}

/* Animation */

.bounce-anim {
	position: relative;
	animation: bounce 2s ease infinite;
}

@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}




/* Footer */
footer {
	padding: 0px 30px 20px;
}

footer .caption {
	font-size: 0.8rem;
	color: var(--grey);
}

#to-top {
	height: 50px;
	width: 50px;
	/* border-radius: 20px; */
	position: fixed;
	bottom: 15px;
	right: 15px;
    background: var(--priColor) url("../images/carousel-left-icon.png") center center repeat;
	background-size: 90%;
	transform: rotate(90deg);
	box-shadow: var(--shadowEngraved);
}