/* BREAKPOINTS */
@media only screen and (min-width: 768px) {

	.container {
		max-width: 90%;
		padding-left: 35px;
		padding-right: 35px;
	}

	#background-bar {
		height: 50%;
	}

	.headerText {
		text-align: left;		
		margin: 25px 50px;
		max-width: 100%;
		order: 2;
	}

	.title {
		font-size: 2.7rem;
	}

	.subtitle {
		font-size: 1.1rem;
	}


	#projectList {
		max-width: 95%;
		margin: 0px auto;
	}


	.main-image {
		height: 50vh;
	}

	.main-title a {
		font-size: 2rem;
		padding: 7px 0px 7px 30px;
	}

	.main-footer {
		display: none;
	}
}


/* DEKSTOP LANDSCAPE*/
@media only screen and (min-width: 992px){
	header {
		padding: 75px 0px 25px;
	}

	.headerText {
		text-align: left;
		padding: 15px 0px;
	}

	.logo {
		height: 80px;
		min-width: 80px;
	}

	#background-bar {
		height: 50%;
	}

	.project {
		padding-bottom: 50px;
		margin-left: 100px;
		margin-right: 100px;
	}

	.main-title {
		text-align: left;
	}

	.main-image {
		height: 500px;
	}
}




/* HEIGHT BREAKPOINTS*/

@media screen and (min-height: 768px){
	.project {
		align-content: flex-end;
		padding-bottom: 75px;
	}
}


@media screen and (min-height: 992px){
	.project {
	}
}