body {
	box-sizing: border-box;
	font-family: 'Barlow', 'Bahnschrift', 'Inter','Roboto',  sans-serif;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 100px;
}

/* Colored Bar*/
#background-bar {
	position: fixed;	
	background-color: white;
	height: 60vh;
	transition: .7s;
	z-index: -100;
}

header, #background-bar {
	width: 100%;
	top: 0;
}

	.bounce-anim {
		position: relative;
		animation: bounce 2s ease infinite;
	}

	@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
	}


.logo {
	height: 50px;
	min-width: 50px;
	background-image: url("../images/Genice-Designs-Logo-Square.png");
	background-size: cover;
}


.headerText {	
	padding: 15px 0px 30px;
	text-align: center;
}

.headerText .col-12{
	margin-left: 0px;
	margin-right: 0px;
}

#main {
	padding-top: 100px; 
}

.title {
	font-weight: var(--boldWeight);
	font-size: 2.5em;
}


.subtitle {
	text-transform: uppercase;
	color: var(--grey);
	font-size: .9em;
}


.title, .subtitle, a {
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-decoration: none;
}


footer .caption {
	text-align: center;
	font-size: 0.8rem;
	color: var(--grey);
}

/** Project Section**/

#projectList {
	max-width: 100%;
	overflow-x: hidden;
}

.project {
	opacity: 0;
	transition: 0.1s ease-in;
	padding-bottom: 50px;
	align-content: flex-end;
	justify-content: center;
	/*height: 100vh;*/
	margin: 0px auto;
}

/*
.project:first-child {
	margin-top: 20%;
}
.project:nth-last-child(1) {
	padding-bottom: 0px;
}*/

.main-image-box {
	display: flex;
	justify-content: center;
}

.main-image {
	height: 45vh;
}

.main-title {
	cursor: pointer;
	text-align: center;
	letter-spacing: 1pt;
}


.main-title a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: calc(var(--boldWeight) - 100);
	color: black;
	padding: 2px 30px;
	border-left: 4px solid var(--priColor);
	transition: 0.3s;
}