/* BREAKPOINTS */
@media only screen and (min-width: 768px) {
	header {
		position: fixed;
	}

	.container {
		max-width: 90%;
		padding-left: 35px;
		padding-right: 35px;
	}

	#background-bar {
		height: 50%;
	}

	.headerText {
		text-align: left;
		padding-top: 15px;
		margin: 25px 50px;
		max-width: 100%;
		order: 2;
	}

	.title {
		font-size: 2.75rem;
	}

	.subtitle {
		font-size: 1.2rem;
	}


	#projectList {
		max-width: 95%;
		margin: 0px auto;
	}


	.main-image-box {
		height: 50vh;
	}

	.main-title a {
		font-size: 2rem;
		padding: 5px 0px 5px 40px;
	}

	.main-footer {
		display: none;
	}
}


/* DEKSTOP LANDSCAPE*/
@media only screen and (min-width: 992px){
	header {
		padding: 75px 0px 25px;
	}

	.headerText {
		text-align: left;
		padding: 15px 0px;
	}

	.logo {
		height: 80px;
		min-width: 80px;
	}

	#background-bar {
		height: 50%;
	}

	.project {
		padding-bottom: 50px;
		margin-left: 90px;
		margin-right: 90px;
	}

	.project:nth-last-child(1) {
		padding-bottom: 0px;
	}

	.main-title {
		text-align: left;
	}

	.main-title a {
		display: block;
	}

	.main-image-box {
		height: 500px;
	}
}




/* HEIGHT BREAKPOINTS*/

@media screen and (min-height: 768px){
	.project {
		align-content: center;
		padding-bottom: 75px;
		height: 75vh;
	}
}


@media screen and (min-height: 992px){
}