:root {
  --bgColor: grey;
  --priColor: black;
  --accentColor: red;
  --grey: black;
}

body {
	box-sizing: border-box;
	font-family: 'Bahnschrift', 'Inter','Roboto',  sans-serif;
	overflow-x: hidden;
}


header {
	display: flex;
	min-height: 100px;
	background-color: white;
	padding: 25px 30px 15px;
	width: 100%;
	align-items: baseline;
	flex-wrap: wrap;
	z-index: 10;
}

.logo {
	margin-right: 25px;
	height: 50px;
}


.headerText {
	text-align: center;
	margin: 0px auto;
	padding: 15px 0px;
}

.title {
	font-size: 2rem;
}

.subtitle {
	margin-bottom: 0px;
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--bgColor);
	font-weight: 350;
}

/** Project Section**/

#projectList {
	position: relative;
}

.project {
	padding-bottom: 50px;
	min-height: 400px;
}

.project:nth-last=child {
	padding-bottom: 0px;
}


.img-box {
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.main-image {
	max-height: 400px;
}

.main-title {
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	margin: 25px 10px;
}

.main-title a {
	text-decoration: none;
	color: var(--grey);
	padding: 7px 20px;
	border-left: 3px solid black;
	transition: 0.3s;
}


.main-title a:hover {
	text-decoration: initial;
	font-weight: 600;
	color: initial;
}


.about {
	cursor: pointer;
	text-align: right;
	padding: 5px 20px;
	color: var(--grey);
	border-right: 3px solid black;
	transition: 0.1s ease-in;
}

.about:hover {
	text-decoration: none;
	font-weight: 600;
	border-right: 6px solid black;
	color: var(--grey);
}


/* Colored Bar*/
#background-bar {
	background-color: white;
	width: 100%;
	height: 140px;
	position: fixed;
	top: 50%;
	transition: .7s;
}



/* BREAKPOINTS */
@media screen and (min-width: 768px) {
	header	{
		position: fixed;
		padding-top: 50px
		padding-bottom: 0px;
	}

	.logo {
		height: 50px;
	}

	.headerText {
		text-align: left;
		margin: 25px 0px;
		padding: 0px;
	}

	.title {
		font-size: 2.3rem;
	}

	.subtitle {
		font-size: 1rem;
	}

	.project {
		padding-bottom: 50px;
		height: 75vh;
	}

	#projectList {
		top: 25vh;
		margin: 0px auto;
	}


	.main-image {
		max-height: 400px;
	}


	.main-title {
		text-align: left;
	}
}

@media screen and (min-width: 992px) {
	header {
		flex-wrap: nowrap;
		padding: 30px 50px 25px;
	}

	.logo {
		height: 75px;
	}

	#projectList {
		top: 150px;
		margin: 0px auto;
	}

	.project {
		padding-bottom: 100px;
	}

	.main-image {
		max-height: 600px;
	}
}