/* NAVIGATION */
.navbar {
  	padding: 15px;
	width: 100%;
}

.navbar-toggler {
	border: none;
	box-shadow: var(--shadowEmbed);
}
.navbar-toggler.collapsed {
	border: none;
	box-shadow: var(--shadowEngraved);
}

#menu-image img {
	width: initial;
	height: 2em;
	margin: 0px auto;
	cursor: var(--pointer-img);
}

.navbar-nav {
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 100px;
	margin-top: 15px;
}

.nav-item {
	text-decoration: none;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	font-weight: var(--boldWeight);
	color: black;
	background-color: transparent;
	display: inline-block;
	padding: .5em 1.5em;
	border-radius: 20px;
	border: none;
	cursor: var(--pointer-img);
	box-shadow: var(--shadowEngraved);
	transition: 0.3s ease-in;
}

.nav-item:hover {
	box-shadow: var(--shadowRaised);
	color: inherit;
}

.nav-item .nav-link {
	color: inherit;
}

@media screen and (min-width: 768px) {	
	.navbar {
		padding: 20px 25px;
	}
	
	#menu-image img {
		height: 50px;
	}
	.navbar-nav {
		flex-direction: row;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 992px) {

}