/* NAVIGATION */
.navbar {
  	background-color: var(--bgColor);
  	/* background-color: transparent; */
  	padding: 15px;
	position: sticky;
	top: 0px;
	z-index: 1000;
	width: 100%;
}

.navbar-toggler {
	border: none;
}

#menu-image img {
	width: initial;
	margin: 0px auto;
	cursor: var(--pointer-img);
}

.navbar-nav {
	width: -webkit-fill-available;
	/* display: flex; */
	flex-direction: column;
	gap: 20px;
	min-width: 100px;
	margin-left: auto!important;
}

.nav-item {
	font-weight: calc(var(--boldWeight) - 100);
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	color: black;
	cursor: var(--pointer-img);
	text-align: right;
	padding: 0px 15px;
	border-right: 3px solid black;
	transition: 0.1s ease-in;
}

.nav-item:hover {
	font-weight: var(--boldWeight);
	border-right-width: 6px;
	text-decoration: none;
	color: initial;
}

.nav-item .nav-link {
	color: inherit;
}

@media screen and (min-width: 768px) {	
	.navbar {
		padding: 20px 25px;
	}

	.navbar-nav {
		flex-direction: row;
	}
}

@media screen and (min-width: 992px) {

}