
body {
	box-sizing: border-box;
	font-family: 'Barlow', 'Bahnschrift', 'Inter','Roboto',  sans-serif;
}


.bg-color {
	background-color: var(--bgColor);
}

.container {
	max-width: 95%;
	padding-bottom: 35px;
}

.row {
	min-height: initial;
	padding: 15px 0px 30px;
	justify-content: center;
}

.row.headingTitle ~ .row {
	padding-top: 0px;
}

.divider {
	width: 200px;
	margin: 0px auto 30px;
	height: 5px;
	background-color: var(--bgColor);
}

.highlight-section {
	align-items: flex-start;
	padding-left: 10px;
	padding-right: 10px;
}



/*BUTTONS*/

.button {
	text-decoration: none;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	font-weight: calc(var(--boldWeight) - 100);
	color: inherit;
	background-color: transparent;
	display: inline-block;
	padding: 5px 30px;
	border: none;
	border-left: 3px solid var(--accentColor);
	transition: 0.1s ease-in;
	cursor: pointer;
}

button.button {
	/* border-left: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid var(--priColor);
	padding: 5px 15px; */
	border-right: 3px solid var(--priColor);
	border-left-color: var(--priColor);
}

button.button.active {
	/* border-top-color: var(--priColor);
	border-bottom-color: transparent; */
	border-left-width: 6px; 
	border-right-width: 6px;
	/* border-right: 3px solid var(--priColor); */
	font-weight: var(--boldWeight);
}

.button:hover {
	text-decoration: none;
	font-weight: var(--boldWeight);
	border-left-width: 6px;
	color: initial;
}

 button.button:hover {
	border-right-width: 6px;
}

/*
button.button.active:hover {
	border-top-width: 6px;
} */
.button.long {
	width: 100%;
}

.button-center {
	text-align: center;
	margin: 15px 0px;
}

#about .button {
	transition:  border-color 5s ease-in;
}

/** TEXT */

h1,h2,h3, h4 {
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-transform: uppercase;
}

h2 {
	font-weight: var(--boldWeight);
	text-align: center;
	color: black;
	padding-bottom: 15px;
	letter-spacing: 0.3rem;
}

h3 {
	font-size: 1.5em;
	margin-bottom: .5em;
	color: var(--priColor);
}

.button.accordion h3 {
	font-size: 1.2em;
	margin-bottom: 0em;
}

h4 {
	text-transform: initial;
	font-size: 1.2em;
}

p {
	margin-bottom: 25px;
}

strong {
	font-weight: var(--boldWeight);
}


.introTitle, .introSub {
	padding-bottom: 5px;
  mix-blend-mode: multiply;
}

.introTitle {
	font-weight: var(--boldWeight);
	text-transform: initial;
}

.introSub {
	color: var(--grey);
	text-transform: uppercase;
	font-size: 0.9rem;
}

.headingTitle {
	padding-bottom: 15px;
}


.highlight, .label {
	font-weight: var(--boldWeight);
	color: var(--accentColor);
}

.label {
	display: block;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.tools-list {
	font-weight:  var(--boldWeight)-400;
	font-size: 0.9em;
}

.goalList {
	font-weight:  var(--boldWeight);
	margin: 25px 0px 50px;
	padding-left: 1em;	/*border-left: 5px solid var(--bgColor);*/
	list-style: square;
	
}

.goalList li {
	padding-left: 0.75em;
	margin-bottom: 25px;
}


ul {
	list-style: none;
	padding-left: 0px;
}

.moodWords {
	font-weight: var(--boldWeight);
}


.colorSwatch {
	font-weight: var(--boldWeight);
	text-transform: lowercase;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 25px solid white;
}

.caption {
	font-size: .75em;
	margin-bottom: 0px;
}


/*IMAGES*/

img {
	max-width: 100%;
}

.bounce-anim {
	position: relative;
	animation: bounce 2s ease infinite;
}

	@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
	}


.imgBox {
	overflow: hidden;
	max-height: 200px;
	margin: 5px 0px 10px;
}

#cover {
	position: relative;
	width: 100%;
	min-height: 20vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#about #cover { 
	min-height: 60vh;
}

.gallery > div {
	padding-bottom: 15px;
	padding-top: 15px;
}



/*LIGHTBOX*/
.hover-shadow {
  transition: 0.3s;
  position: relative;
  top: 0px;
  border: .5px solid rgba(0, 0, 0, .1);
}

.hover-shadow:hover {
  top: -5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.clickImg {
	cursor: pointer;
}

.modal-body, .modal-content {
	background-color: transparent;
	padding: 0px;
	border: none;
}

.modal-dialog img {
	width: 100%;
}

.close {
	padding-top: 10px !important;
	font-size: 2rem;
	font-weight:  var(--boldWeight)-400;
	color: white;
	opacity: 1;
}

.close:hover {
	font-weight:  var(--boldWeight);
	color: white;
	opacity: 1;
}

#caption {
	display: inline-block;
	color: white;
	padding: 10px 0px 10px 10px;
}


/*SECTIONS*/
#introduction {
	padding-top: 80px; 
}

#description .row, #about .row:first-child  {
	justify-content: flex-start;
	position: relative;
	top:  -75px;
}


.center-section {
	margin: 15px auto 25px;
	text-align: center;
}

#banner {
	padding: 100px 50px;
	text-align: center;
}

.spacer {
	height: 50px;
}

#projLogo {
	margin: 25px auto;
	width: 700px;
}

#projAssets {
	padding: 30px 0px;
}

#image-bg-bar {
	width:-webkit-fill-available;
	height: 150px;
	position: absolute;
	left: 0px;
	margin-top: 75px;
	z-index: -1;
}

/*FOOTER*/

footer {
	margin-top: 25px;
	padding: 50px 30px 15px;
	background-color: var(--bgColor);
}

footer .introSub {
	margin-bottom: 0px;
	font-size: 1.45em;
}

footer a {
	color: var(--priColor);
}

footer a:hover {
	font-weight:  var(--boldWeight);
	color: var(--priColor);
	text-decoration: none;
}

#random-image {
	max-height: 250px;
	display: none;
}


/*CAROUSEL*/
.carousel {
	padding-bottom: 50px;
	overflow-x: clip;
}

.carousel-inner {
	min-height: 450px;
	z-index: -1;
	overflow: visible;
}

.carousel-item {
	background-color: var(--bgColor);
	max-width: 100%;
}

.carousel-bg {
	padding: 20px;
	min-height: 300px;
}


.carousel-text h2 {
	color: var(--accentColor);
}

.carousel-text p {
	margin-bottom: 2em;
}

/*CAROUSEL IMAGE PLACEMENT*/

.carousel-img {
	text-align: center;
	min-height: 100px;
	margin: 25px 0px;
}

.carousel-img img {
	position: relative;
	max-height: 300px;
	top: initial;
	bottom: initial;
	transform: none;
	margin: 15px 0px;
}

.carousel-nav {
	display: flex;
	justify-content: center;
	margin-top: 15px;

}

.carousel-indicators {
	position: relative;
	margin: 15px;
	bottom: 0px;
}

.carousel-indicators li {
	background-color: var(--priColor);
	margin: 0px 5px;
	width: 15px;
	height: 4px;
	cursor: pointer;
	transition: .3s;
}

.carousel-indicators .active {
	background-color: var(--priColor);
	width: 30px;
}

.carousel-control-prev, .carousel-control-next {
	position: static;
	display: inline-flex;
} 

.carousel-control-prev-icon, .carousel-control-next-icon {

	min-width: 30px;
	min-height: 30px;
	background-color: var(--priColor);
	background-size: cover;
}

.carousel-control-next-icon {
	background-image: url("../images/carousel-right-icon.png");
}

.carousel-control-prev-icon {
	background-image: url("../images/carousel-left-icon.png");
}


/* ACCORDION */
.accordion-content {
  display: none;
}

.accordion-content.active:not(.row) {
	display: block !important;
}

.accordion-content.active {
	display: flex !important;
}

.accordion-content *:first-child {
	padding-top: 15px;
}