
/* BREAKPOINTS */
@media screen and (min-width: 768px) {

	.container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.desktop-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}

	.center-section {
		max-width: 90%;
	}

	h2 {
		font-size: 2.25em;
	}

	p, .button, li {
		margin-top: 0px;
	}

	.introTitle {
		font-size: 2.75em;
	}

	.introSub {
		font-size: 1.2rem;
	}

	.brand-subheading{
		margin-top: 15px;
	}

	#projAssets {
		padding: 30px 25px 0px;
	}

	.imgBox {
		margin-bottom: 25px;
		max-height: 200px;
	}


	#image-bg-bar {
		height: 200px;
		margin-top: 150px;
	}

	.carousel {
		padding-bottom: 25px;
		max-width: 100%;
	}

	.carousel-text {
		padding: 0px 50px;
	}

	.carousel-img {
		text-align: initial;
	}

	.carousel-img img {
		position: absolute;
		max-width: 100%;
		max-height: 65vh;
		top: 50%;
		transform: translate(0, -50%);
	}


	.carousel-indicators li {
		width: 30px;
	}

	.carousel-indicators .active {
		width: 75px;
	}

	.accordion-list {
		text-align: right;
	}


	footer {
		padding: 50px 10% 20px;
	}

	#random-image {
		position: absolute;
		right: 0px;
		bottom: -50px;
		max-height: 200px;
	}
}

@media screen and (min-width: 992px) {
		
	.modal-dialog {
		max-width: 80%;
		max-height: 80vh;
	}

	#image-bg-bar {
		height: 370px;
		margin-top: 150px;
		box-shadow: var(--shadowEmbed);
	}

	.imgBox {
		max-height: 275px;
	}

	footer {
		padding: 30px 12% 30px;
	}
}

/* Large Display Screns */
@media screen and (min-width: 1920px) {
}