
/* BREAKPOINTS */
@media screen and (min-width: 768px) {
	#about #cover { 
		top: 100px;
		right: 5%;
		width: 40%;
		min-height: 90vh;
		background-size: contain;
	}

	.container {
		max-width: 90%;
		padding-left: 35px;
		padding-right: 35px;
	}

	.row {
		padding-top: 20px;
	}

	.headingTitle {
		padding-bottom: 15px;
	}

	#introduction {
		/* padding-top: 100px;  */
	}

	#introduction, #description {
		max-width: 80%;
	}


	.center-section {
		max-width: 90%;
	}

	h2 {
		font-size: 2.25em;
	}

	p, .button, li {
		font-size: 1.1rem;
		margin-top: 0px;
	}

	.introTitle {
		font-size: 2.75em;
	}

	.introSub {
		font-size: 1.2rem;
	}

	.introDesc {
		padding-right: 50px;
	}

	.brand-subheading{
		margin-top: 15px;
	}

	#projAssets {
		padding: 30px 25px 0px;
	}

	.imgBox {
		margin: 15px 0px 25px;
		max-height: 200px;
	}


	#image-bg-bar {
		height: 200px;
		margin-top: 150px;
	}

	.carousel {
		padding-bottom: 25px;
		max-width: 100%;
	}

	.carousel-bg {
		padding: 50px;
	}

	.carousel-width {
		display: flex;
		align-items: center;
		width: 78%;
		max-width: 1100px;
		margin: 0px auto;
	}

	.carousel-text {
		padding: 0px 50px;
	}

	.carousel-img {
		text-align: initial;
	}

	.carousel-img img {
		position: absolute;
		max-width: 100%;
		max-height: 65vh;
		top: 50%;
		transform: translate(0, -50%);
	}


	.carousel-indicators li {
		width: 30px;
	}

	.carousel-indicators .active {
		width: 75px;
	}


	footer {
		padding: 50px 10% 20px;
	}

	#random-image {
		display: block;
		position: absolute;
		bottom: -50px;
		right: 0px;
	}
}

@media screen and (min-width: 992px) {

	#cover {
		position: absolute;
		right: 0px;
		top: 0px;
		overflow: hidden;
		width: 50%;
		height: 90vh;
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: left center;
	}

	#description .row, #about .row:first-child  {
		position: static;
		top:  0px;
	}

	.container {
		padding-top: 35px;
		max-width: 1024px;
	}

	#about.container {
		max-width: 80%;
	}
	
	.modal-dialog {
		max-width: 80%;
	}

	#image-bg-bar {
		height: 370px;
		margin-top: 150px;
	}


	footer {
		padding: 30px 12% 30px;
	}
}

/* Large Display Screns */
@media screen and (min-width: 1920px) {
	#cover {
		max-height: 70vh;
		background-size: contain;
	}
}