:root {
  --bgColor: #F4F4F4;
  --priColor: black;
  --accentColor: red;
  --grey: #606060;
  --boldWeight: 500;
  --cursor-img: url("../images/cursor.png"), auto;
  --pointer-img: url("../images/pointer.png"), auto;
}